# Auto detect text files and perform LF normalization
* text=auto eol=lf
*.zip filter=lfs diff=lfs merge=lfs -text
# Disable LFS for mp4 files to avoid pointer issues in tests
*.mp4 -filter -diff -merge -text
